{
  "openapi": "3.0.4",
  "x-mint": {
    "mcp": {
      "enabled": true
    }
  },
  "info": {
    "title": "Nexrender API",
    "version": "2.0",
    "description": "REST API for the Nexrender cloud rendering platform, enabling programmatic control over After Effects template processing, job management, and asset handling.\n\nFeatures include:\n\n- Template upload and management (AEP, MOGRT, ZIP files)\n- Job creation and status monitoring with real-time progress\n- Job nesting for multi-composition renders (parent/child jobs)\n- Job stitching to combine multiple videos into one\n- Batch job creation for submitting up to 1000 jobs at once\n- Font library management for typography consistency\n- Secret management for secure API key storage\n- Webhook notifications for job lifecycle events\n- Asset injection for dynamic content replacement\n\nAuthentication is required for all endpoints using Bearer token authorization.\n"
  },
  "servers": [
    {
      "url": "https://api.nexrender.com/api/v2",
      "description": "Production API server"
    }
  ],
  "components": {
    "securitySchemes": {
      "apiToken": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication using API tokens for team-based access control.\n\nYou can generate your own API token at: https://app.nexrender.com/settings/api-tokens\n"
      }
    },
    "schemas": {
      "Font": {
        "type": "object",
        "description": "Font file metadata for team-shared typography resources used in After Effects rendering",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique font identifier"
          },
          "familyName": {
            "type": "string",
            "description": "Font family name (e.g., \"Arial\", \"Helvetica Neue\") extracted from font metadata (or custom)"
          },
          "fileName": {
            "type": "string",
            "description": "Original font file name as uploaded (supports TTF only). This is the file name referenced in pushed jobs."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp when the font was uploaded and processed"
          }
        }
      },
      "JobAsset": {
        "type": "object",
        "description": "Asset to be used in job rendering, containing source information and target layer details. For function assets, provide the function identifier in `name` and arguments in `params`.",
        "properties": {
          "src": {
            "type": "string",
            "description": "Source URL, script data or file path for the asset (supports HTTP/HTTPS URLs or local paths)"
          },
          "type": {
            "type": "string",
            "description": "Asset type (e.g., image, video, audio, text, data, script, job)"
          },
          "layerName": {
            "type": "string",
            "description": "Target layer name in the After Effects composition where this asset will be applied"
          },
          "name": {
            "type": "string",
            "description": "Human-readable name for the asset. For function assets (`type: function`), this should be the NX function name (for example, `nx:layer-autoscale`)."
          },
          "conform": {
            "type": "boolean",
            "description": "When true for video, image, or audio assets, the worker normalizes the downloaded media to a render-engine-safe target format before assembly. If omitted, the API auto-enables conform for known risky inputs such as WebM, WebP, GIF, and OGG/OGA sources. GIF inputs are converted to a ProRes 4444 MOV file and treated as video."
          },
          "params": {
            "type": "object",
            "description": "Optional parameters for function assets. For supported NX layer functions (`nx:layer-autoscale`, `nx:layer-duration-set`, `nx:layer-start-set`, `nx:layer-state-set`, `nx:solid-color-set`, `nx:text-params-set`), `params.layerName` accepts a single string or an array of strings. When an array is provided, the API expands the function asset into multiple per-layer assets while preserving the original `assets` order.",
            "properties": {
              "layerName": {
                "description": "Target layer name(s) for function assets",
                "oneOf": [
                  {
                    "type": "string",
                    "description": "Single target layer name"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "minItems": 1,
                    "description": "Multiple target layer names (supported by selected NX layer functions only)"
                  }
                ]
              }
            },
            "additionalProperties": true
          }
        },
        "required": [
          "type"
        ],
        "additionalProperties": true
      },
      "JobAssetNested": {
        "type": "object",
        "description": "A nested job asset that renders a child job first, then uses its output as a video/image asset in the parent composition. The child job's output URL is automatically injected into the parent's assets.",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["job"],
            "description": "Must be 'job' to indicate this is a nested job asset"
          },
          "layerName": {
            "type": "string",
            "description": "Target layer name in the parent composition where the child job's output will be placed (required)"
          },
          "template": {
            "type": "object",
            "description": "Template configuration for the child job",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[A-Z0-9]{26}$",
                "description": "Template ID for the child job (required)"
              },
              "composition": {
                "type": "string",
                "description": "Composition name to render in the child job (required)"
              },
              "name": {
                "type": "string",
                "description": "Template name (optional)"
              }
            },
            "required": ["id", "composition"]
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobAsset"
            },
            "description": "Assets to inject into the child job"
          },
          "preview": {
            "type": "boolean",
            "default": false,
            "description": "Generate preview quality for the child job"
          },
          "settings": {
            "type": "object",
            "description": "Render settings for the child job",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["video", "image"],
                "default": "video",
                "description": "Output type for the child job"
              },
              "frames": {
                "oneOf": [
                  { "type": "integer" },
                  { "type": "array", "items": { "type": "integer" } }
                ],
                "description": "Frame specification for image output"
              },
              "quality": {
                "type": "string",
                "enum": ["draft", "full"],
                "description": "Render quality"
              },
              "codec": {
                "type": "string",
                "description": "Output codec"
              },
              "engine": {
                "type": "string",
                "enum": ["ae2025", "ae2026"],
                "default": "ae2026",
                "description": "After Effects render engine version for the child job"
              }
            }
          }
        },
        "required": ["type", "layerName", "template"]
      },
      "JoinVideoAsset": {
        "type": "object",
        "description": "A static video asset for the join/stitch operation",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["video"],
            "description": "Must be 'video' for static video assets"
          },
          "src": {
            "type": "string",
            "description": "URL to the video file to include in the stitch"
          }
        },
        "required": ["type", "src"]
      },
      "JoinJobAsset": {
        "type": "object",
        "description": "A job asset that will be rendered first and its output included in the stitch",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["job"],
            "description": "Must be 'job' for render job assets"
          },
          "template": {
            "type": "object",
            "description": "Template configuration for the child job",
            "properties": {
              "id": {
                "type": "string",
                "pattern": "^[A-Z0-9]{26}$",
                "description": "Template ID for the child job"
              },
              "composition": {
                "type": "string",
                "description": "Composition name to render"
              },
              "name": {
                "type": "string",
                "description": "Template name (optional)"
              }
            },
            "required": ["id", "composition"]
          },
          "assets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JobAsset"
            },
            "description": "Assets to inject into the child job"
          },
          "preview": {
            "type": "boolean",
            "default": false,
            "description": "Generate preview quality"
          },
          "settings": {
            "type": "object",
            "description": "Render settings for the child job",
            "properties": {
              "frames": {
                "oneOf": [
                  { "type": "integer" },
                  { "type": "array", "items": { "type": "integer" } }
                ]
              },
              "quality": {
                "type": "string",
                "enum": ["draft", "full"]
              },
              "codec": {
                "type": "string"
              },
              "engine": {
                "type": "string",
                "enum": ["ae2025", "ae2026"],
                "default": "ae2026",
                "description": "After Effects render engine version for the child job"
              }
            }
          }
        },
        "required": ["type", "template"]
      },
      "JoinSettings": {
        "type": "object",
        "description": "Settings for the stitch/join operation",
        "properties": {
          "preset": {
            "type": "string",
            "enum": ["mp4"],
            "description": "Output format preset"
          }
        }
      },
      "JoinJobCreation": {
        "type": "object",
        "description": "Configuration for creating a join/stitch job that combines multiple videos into one",
        "properties": {
          "settings": {
            "$ref": "#/components/schemas/JoinSettings"
          },
          "assets": {
            "type": "array",
            "description": "Ordered list of video or job assets to stitch together",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/JoinVideoAsset" },
                { "$ref": "#/components/schemas/JoinJobAsset" }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "video": "#/components/schemas/JoinVideoAsset",
                  "job": "#/components/schemas/JoinJobAsset"
                }
              }
            },
            "minItems": 1
          },
          "upload": {
            "type": "object",
            "description": "Custom upload configuration (same as regular job creation)",
            "properties": {
              "prefix": { "type": "string" },
              "outputUrl": { "type": "string" },
              "provider": { "type": "string", "enum": ["s3"], "default": "s3" },
              "params": {
                "type": "object",
                "properties": {
                  "endpoint": { "type": "string" },
                  "region": { "type": "string" },
                  "bucket": { "type": "string" },
                  "acl": { "type": "string" },
                  "accessKeyId": { "type": "string" },
                  "accessKeySecret": { "type": "string" }
                },
                "required": ["region", "bucket", "accessKeyId", "accessKeySecret"]
              }
            }
          },
          "webhook": {
            "$ref": "#/components/schemas/JobWebhook"
          }
        },
        "required": ["assets"]
      },
      "JobCreationResponse": {
        "type": "object",
        "description": "Response after creating a job, includes children info for parent jobs",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique job identifier"
          },
          "status": {
            "type": "string",
            "enum": ["queued", "pending"],
            "description": "'queued' for regular jobs, 'pending' for parent jobs waiting on children"
          },
          "outputUrl": {
            "type": "string",
            "description": "URL where the rendered output will be available"
          },
          "children": {
            "type": "array",
            "description": "Child job details (only present for parent jobs with nested job assets)",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string",
                  "description": "Child job identifier"
                },
                "status": {
                  "type": "string",
                  "description": "Child job status (typically 'queued')"
                },
                "outputUrl": {
                  "type": "string",
                  "description": "URL where the child job's rendered output will be available"
                },
                "missingFonts": {
                  "type": "array",
                  "items": { "type": "string" },
                  "description": "List of fonts referenced in child's template but not found in team's font library (only present if fonts are missing)"
                }
              },
              "required": ["id", "outputUrl"]
            }
          },
          "missingFonts": {
            "type": "array",
            "items": { "type": "string" },
            "description": "List of fonts referenced in template but not found in team's font library"
          }
        },
        "required": ["id", "status", "outputUrl"]
      },
      "JobWebhook": {
        "type": "object",
        "description": "Webhook configuration for job status notifications and callbacks",
        "properties": {
          "url": {
            "type": "string",
            "description": "Target webhook URL that will receive job status updates"
          },
          "method": {
            "type": "string",
            "enum": [
              "GET",
              "POST",
              "PUT",
              "DELETE"
            ],
            "description": "HTTP method to use when calling the webhook endpoint",
            "default": "POST"
          },
          "headers": {
            "type": "object",
            "description": "Additional HTTP headers to include in webhook requests",
            "additionalProperties": true
          },
          "data": {
            "type": "object",
            "description": "Custom data payload to include with webhook notifications",
            "additionalProperties": true
          },
          "custom": {
            "type": "boolean",
            "default": false,
            "description": "Flag indicating if webhook should only include custom data provided by the user"
          }
        },
        "required": [
          "url"
        ]
      },
      "JobTemplate": {
        "type": "object",
        "description": "Template configuration defining the After Effects project and composition to render",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[A-Z0-9]{26}$",
            "description": "Unique template identifier in ULID format (26 characters, uppercase alphanumeric)"
          },
          "src": {
            "type": "string",
            "description": "Source URL to the After Effects template (.aep, .mogrt, or .zip file)"
          },
          "composition": {
            "type": "string",
            "description": "Name of the specific composition within the template to render (optional for .mogrt)",
            "nullable": true
          }
        },
        "required": [
          "id"
        ],
        "additionalProperties": true
      },
      "JobCreation": {
        "type": "object",
        "description": "Configuration object for creating a new render job with template, assets, and options",
        "properties": {
          "template": {
            "$ref": "#/components/schemas/JobTemplate"
          },
          "preview": {
            "type": "boolean",
            "default": false,
            "description": "Generate a low-quality preview render instead of full quality output"
          },
          "fonts": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "default": [],
            "description": "List of font file names to include in the render environment"
          },
          "assets": {
            "type": "array",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/JobAsset" },
                { "$ref": "#/components/schemas/JobAssetNested" }
              ],
              "discriminator": {
                "propertyName": "type",
                "mapping": {
                  "job": "#/components/schemas/JobAssetNested"
                }
              }
            },
            "default": [],
            "description": "Collection of media assets (images, videos, audio, scripts, text) or nested job assets (type: 'job') to use in the render. Nested job assets render as child jobs first, with output injected into the parent composition. For supported NX layer functions, `params.layerName` can be a string or an array of strings; array values are expanded in place while preserving asset order."
          },
          "settings": {
            "type": "object",
            "description": "Render configuration settings for output format, quality, and frame selection",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["video", "image", "aep"],
                "description": "Output render type - 'video' for MP4/MOV files, 'image' for PNG/JPG files, 'aep' for full archive"
              },
              "frames": {
                "oneOf": [
                  {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Single frame number to render as image"
                  },
                  {
                    "type": "array",
                    "items": {
                      "type": "integer",
                      "minimum": 0
                    },
                    "minItems": 2,
                    "maxItems": 2,
                    "description": "Frame range [start, end] where end > start"
                  }
                ],
                "description": "Frame specification - single frame number or [start, end] range. Required for image type."
              },
              "quality": {
                "type": "string",
                "enum": ["draft", "full"],
                "description": "Render quality setting - 'draft' for faster low-quality preview, 'full' for high-quality output"
              },
              "codec": {
                "type": "string",
                "description": "Output codec specification (e.g., 'h264_vbr_15mbps', 'prores_422', 'png', 'jpeg')"
              },
              "engine": {
                "type": "string",
                "enum": ["ae2025", "ae2026"],
                "default": "ae2026",
                "description": "After Effects render engine version used when the job is picked up by a worker"
              }
            },
            "additionalProperties": false
          },
          "upload": {
            "type": "object",
            "description": "Custom upload configuration for output files to external storage providers",
            "properties": {
              "prefix": {
                "type": "string",
                "description": "Folder prefix/path where output files will be stored (e.g., 'my-project/outputs/')"
              },
              "outputUrl": {
                "type": "string",
                "description": "Custom base URL for accessing uploaded files publicly"
              },
              "provider": {
                "type": "string",
                "enum": ["s3"],
                "default": "s3",
                "description": "Storage provider - 's3' for Amazon S3 compatible"
              },
              "params": {
                "type": "object",
                "description": "Provider-specific upload parameters and credentials",
                "properties": {
                  "endpoint": {
                    "type": "string",
                    "default": "https://s3.amazonaws.com",
                    "description": "Custom S3-compatible endpoint URL"
                  },
                  "region": {
                    "type": "string",
                    "description": "AWS region or storage region identifier (required)"
                  },
                  "bucket": {
                    "type": "string",
                    "description": "Target bucket name for file uploads (required)"
                  },
                  "acl": {
                    "type": "string",
                    "description": "Access control list setting for uploaded files (e.g., 'public-read', 'private')"
                  },
                  "accessKeyId": {
                    "type": "string",
                    "description": "AWS access key ID or equivalent credential (required)"
                  },
                  "accessKeySecret": {
                    "type": "string",
                    "description": "AWS secret access key or equivalent credential (required)"
                  }
                },
                "required": ["region", "bucket", "accessKeyId", "accessKeySecret"],
                "additionalProperties": false
              }
            },
            "additionalProperties": false
          },
          "webhook": {
            "$ref": "#/components/schemas/JobWebhook"
          }
        },
        "required": [
          "template"
        ],
        "additionalProperties": true
      },
      "Job": {
        "type": "object",
        "description": "Render job with current status, progress, and detailed statistics",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique job identifier used for tracking and API operations"
          },
          "templateId": {
            "type": "string",
            "description": "Reference to the template used for this job (null if template was not used)",
            "nullable": true
          },
          "status": {
            "type": "string",
            "description": "Current job status (queued, render:dorender, finished, error, etc.). Manually cancelled jobs are normalized to `manually_cancelled` in v2 responses even though they are stored internally as `error`."
          },
          "progress": {
            "type": "number",
            "format": "float",
            "description": "Render progress as a percentage (0.0 to 100.0)"
          },
          "stats": {
            "type": "object",
            "description": "Detailed timing and metadata statistics for the job",
            "properties": {
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "description": "ISO timestamp when the job was initially created"
              },
              "updatedAt": {
                "type": "string",
                "format": "date-time",
                "description": "ISO timestamp of the most recent job status update"
              },
              "startedAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "ISO timestamp when job processing began (null if not started)"
              },
              "finishedAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "ISO timestamp when job completed successfully (null if not finished)"
              },
              "errorAt": {
                "type": "string",
                "format": "date-time",
                "nullable": true,
                "description": "ISO timestamp when job encountered an error (null if no error)"
              },
              "totalAssets": {
                "type": "integer",
                "description": "Total number of assets included in this job"
              },
              "renderDuration": {
                "type": "number",
                "format": "float",
                "nullable": true,
                "description": "Total render time in seconds (null if not completed)"
              },
              "error": {
                "type": "string",
                "nullable": true,
                "description": "Error message if job failed (null if successful)"
              }
            }
          },
          "outputUrl": {
            "type": "string",
            "nullable": true,
            "description": "URL to the rendered content"
          }
        }
      },
      "JobCancellationRequest": {
        "type": "object",
        "description": "Request payload for cancelling one or more jobs by ID.",
        "properties": {
          "jobs": {
            "type": "array",
            "description": "List of job IDs to cancel. Each explicitly requested job must be in a cancellable state.",
            "items": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
              "description": "Unique job identifier in ULID format"
            },
            "minItems": 1,
            "maxItems": 1000,
            "uniqueItems": true
          }
        },
        "required": ["jobs"]
      },
      "JobCancellationResponse": {
        "type": "array",
        "description": "Jobs cancelled by the request, including any related parent, child, or sibling jobs cancelled as part of the same operation. Cancelling a child may trigger sibling cascades when those related jobs are still cancellable.",
        "items": {
          "$ref": "#/components/schemas/Job"
        }
      },
      "TemplateCreation": {
        "type": "object",
        "description": "Configuration for creating a new template with project file type and display information",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "aep",
              "zip",
              "mogrt"
            ],
            "description": "Template project file type - aep (After Effects Project), zip (compressed project), or mogrt (Motion Graphics Template)"
          },
          "displayName": {
            "type": "string",
            "description": "Human-readable name for the template shown in UI and listings"
          },
          "src": {
            "type": "string",
            "description": "Link to the project file nexrender should create the template from. If not set, presigned upload URL is returned in the response object instead."
          }
        },
        "required": [
          "type",
          "displayName"
        ]
      },
      "TemplateUpdate": {
        "type": "object",
        "description": "Fields that can be updated for an existing template",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "Updated human-readable name for the template"
          }
        }
      },
      "TemplateUploadInfo": {
        "type": "object",
        "description": "Presigned upload URL and metadata for securely uploading template files to cloud storage",
        "properties": {
          "url": {
            "type": "string",
            "description": "Presigned upload URL with temporary access credentials"
          },
          "method": {
            "type": "string",
            "enum": [
              "PUT",
              "POST"
            ],
            "description": "HTTP method required for the upload operation"
          },
          "fields": {
            "type": "object",
            "description": "Additional form fields or headers required for successful upload",
            "additionalProperties": {
              "type": "string"
            }
          },
          "expiresIn": {
            "type": "integer",
            "description": "Time in seconds until the upload URL expires and becomes invalid"
          },
          "key": {
            "type": "string",
            "description": "Unique storage key/path where the uploaded file will be stored"
          }
        },
        "required": [
          "url",
          "method",
          "expiresIn",
          "key"
        ]
      },
      "Template": {
        "type": "object",
        "description": "Complete template object with metadata, processing status, and content information",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique template identifier used for referencing in jobs and API operations"
          },
          "type": {
            "type": "string",
            "description": "Template file format (aep, zip, or mogrt)"
          },
          "displayName": {
            "type": "string",
            "description": "Human-readable name displayed in UI and template listings"
          },
          "status": {
            "type": "string",
            "description": "Current processing status (awaiting_upload, processing, uploaded, error)"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp when the template was initially created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp of the most recent template modification"
          },
          "compositions": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Individual composition name available for rendering"
            },
            "description": "List of compositions found within the template that can be rendered"
          },
          "layers": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Individual layer name within the template"
            },
            "description": "List of layers available for asset replacement and manipulation"
          },
          "mogrt": {
            "type": "object",
            "description": "Motion Graphics Template specific metadata and properties",
            "additionalProperties": true
          },
          "error": {
            "type": "string",
            "nullable": true,
            "description": "Error message if template processing or validation failed (null if successful)"
          },
          "uploadInfo": {
            "$ref": "#/components/schemas/TemplateUploadInfo"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "description": "Standard error response format",
        "properties": {
          "error": {
            "type": "string",
            "description": "Human-readable error message explaining what went wrong"
          }
        },
        "required": [
          "error"
        ]
      },
      "ValidationErrorResponse": {
        "type": "object",
        "description": "Validation error response with detailed field information",
        "properties": {
          "error": {
            "type": "string",
            "description": "Main error message"
          },
          "details": {
            "type": "array",
            "description": "Array of specific validation errors for individual fields",
            "items": {
              "type": "object",
              "properties": {
                "field": {
                  "type": "string",
                  "description": "Field name that failed validation"
                },
                "message": {
                  "type": "string",
                  "description": "Specific validation error for this field"
                }
              }
            }
          }
        }
      },
      "Secret": {
        "type": "object",
        "description": "Secret object for storing secure environment variables and configuration",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique secret identifier"
          },
          "name": {
            "type": "string",
            "description": "Secret name/key used for reference in jobs"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp when the secret was created"
          }
        },
        "required": [
          "id",
          "name",
          "createdAt"
        ]
      },
      "SecretCreation": {
        "type": "object",
        "description": "Configuration for creating a secret",
        "properties": {
          "name": {
            "type": "string",
            "description": "Secret name/key for identification and reference"
          },
          "value": {
            "type": "string",
            "description": "Secret value to store securely (will be encrypted)"
          }
        },
        "required": [
          "name",
          "value"
        ]
      },
      "BatchCreation": {
        "type": "object",
        "description": "Configuration for creating a batch of render jobs in a single request (1 to 1000 jobs)",
        "properties": {
          "jobs": {
            "type": "array",
            "description": "Array of job configurations to create as a batch. Each item follows the same schema as a single job creation request.",
            "items": {
              "$ref": "#/components/schemas/JobCreation"
            },
            "minItems": 1,
            "maxItems": 1000
          }
        },
        "required": ["jobs"]
      },
      "BatchCreationResponse": {
        "type": "object",
        "description": "Response after creating a batch of jobs, including per-job results and any errors",
        "properties": {
          "batchId": {
            "type": "string",
            "description": "Unique batch identifier in ULID format for tracking the entire batch"
          },
          "status": {
            "type": "string",
            "enum": ["created", "partial", "error"],
            "description": "'created' if all jobs succeeded, 'partial' if some failed, 'error' if all failed"
          },
          "totalJobs": {
            "type": "integer",
            "description": "Total number of jobs in the batch request"
          },
          "successCount": {
            "type": "integer",
            "description": "Number of successfully created jobs"
          },
          "jobs": {
            "type": "array",
            "description": "Array of successfully created job details",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "Position of this job in the original request array"
                },
                "id": {
                  "type": "string",
                  "description": "Unique job identifier"
                },
                "status": {
                  "type": "string",
                  "description": "Initial job status ('queued' or 'pending' for parent jobs)"
                },
                "outputUrl": {
                  "type": "string",
                  "description": "URL where the rendered output will be available"
                },
                "children": {
                  "type": "array",
                  "description": "Child job details (only present for jobs with nested job assets)",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "status": { "type": "string" },
                      "outputUrl": { "type": "string" },
                      "missingFonts": {
                        "type": "array",
                        "items": { "type": "string" }
                      }
                    }
                  }
                },
                "missingFonts": {
                  "type": "array",
                  "items": { "type": "string" },
                  "description": "Fonts referenced in template but not found in team's font library"
                }
              }
            }
          },
          "errors": {
            "type": "array",
            "description": "Array of errors for failed jobs (only present when status is 'partial' or 'error')",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "Position of the failed job in the original request array"
                },
                "error": {
                  "type": "string",
                  "description": "Error message describing why the job failed"
                },
                "errorCode": {
                  "type": "string",
                  "description": "Machine-readable error code"
                }
              }
            }
          }
        },
        "required": ["batchId", "status", "totalJobs", "successCount", "jobs"]
      },
      "BatchStatusResponse": {
        "type": "object",
        "description": "Current status and progress of a batch of jobs",
        "properties": {
          "batchId": {
            "type": "string",
            "description": "Unique batch identifier"
          },
          "status": {
            "type": "string",
            "enum": ["processing", "finished", "error"],
            "description": "Overall batch status based on aggregate job states"
          },
          "stats": {
            "type": "object",
            "description": "Aggregate statistics for all jobs in the batch",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Total number of jobs in the batch"
              },
              "finished": {
                "type": "integer",
                "description": "Number of successfully completed jobs"
              },
              "error": {
                "type": "integer",
                "description": "Number of failed jobs"
              },
              "pending": {
                "type": "integer",
                "description": "Number of jobs still processing or queued"
              }
            }
          },
          "jobs": {
            "type": "array",
            "description": "Individual job details within the batch",
            "items": {
              "type": "object",
              "properties": {
                "index": {
                  "type": "integer",
                  "description": "Position of this job in the original batch request"
                },
                "id": {
                  "type": "string",
                  "description": "Unique job identifier"
                },
                "status": {
                  "type": "string",
                  "description": "Current job status. Manually cancelled jobs are returned as `manually_cancelled`."
                },
                "outputUrl": {
                  "type": "string",
                  "description": "URL to the rendered output (available when finished)"
                },
                "stats": {
                  "type": "object",
                  "description": "Job statistics (only included for finished or error states)",
                  "properties": {
                    "createdAt": { "type": "string", "format": "date-time" },
                    "updatedAt": { "type": "string", "format": "date-time" },
                    "startedAt": { "type": "string", "format": "date-time", "nullable": true },
                    "finishedAt": { "type": "string", "format": "date-time", "nullable": true },
                    "errorAt": { "type": "string", "format": "date-time", "nullable": true },
                    "totalAssets": { "type": "integer" },
                    "renderDuration": { "type": "number", "nullable": true },
                    "error": { "type": "string", "nullable": true }
                  }
                }
              }
            }
          }
        },
        "required": ["batchId", "status", "stats", "jobs"]
      },
      "BatchCancellationJobResult": {
        "type": "object",
        "description": "Cancellation result for a top-level job belonging to the batch.",
        "properties": {
          "index": {
            "type": "integer",
            "description": "Zero-based index of the job within the batch."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the top-level batch job."
          },
          "result": {
            "type": "string",
            "enum": ["cancelled", "skipped"],
            "description": "Whether the top-level batch job was cancelled or skipped."
          },
          "status": {
            "type": "string",
            "description": "Current state of the top-level job after the cancellation attempt. Manually cancelled jobs are returned as `manually_cancelled`."
          },
          "reason": {
            "type": "string",
            "description": "Human-readable explanation for skipped jobs."
          }
        },
        "required": ["index", "id", "result", "status"]
      },
      "BatchCancellationResponse": {
        "type": "object",
        "description": "Best-effort cancellation summary for a batch. Counts refer to the top-level jobs stored under the batch ID; cancelledJobs includes all unique jobs actually cancelled, including cascaded relatives.",
        "properties": {
          "batchId": {
            "type": "string",
            "description": "Unique batch identifier."
          },
          "status": {
            "type": "string",
            "enum": ["cancelled", "partial", "unchanged"],
            "description": "cancelled when every top-level batch job was cancelled, partial when some were skipped, unchanged when none were cancellable."
          },
          "totalJobs": {
            "type": "integer",
            "description": "Total number of top-level jobs in the batch."
          },
          "cancelledCount": {
            "type": "integer",
            "description": "Number of top-level jobs cancelled by the request."
          },
          "skippedCount": {
            "type": "integer",
            "description": "Number of top-level jobs skipped because they were already missing or not in a cancellable state."
          },
          "jobs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BatchCancellationJobResult"
            }
          },
          "cancelledJobs": {
            "$ref": "#/components/schemas/JobCancellationResponse"
          }
        },
        "required": ["batchId", "status", "totalJobs", "cancelledCount", "skippedCount", "jobs", "cancelledJobs"]
      },
      "TemplateV3": {
        "type": "object",
        "description": "Lightweight template metadata returned by the v3 template API. Composition and layer structure is exposed through separate paginated endpoints.",
        "properties": {
          "id": {
            "type": "string",
            "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$",
            "description": "Unique template identifier used for referencing in jobs and API operations"
          },
          "type": {
            "type": "string",
            "enum": [
              "aep",
              "zip",
              "mogrt"
            ],
            "description": "Template file format"
          },
          "displayName": {
            "type": "string",
            "description": "Human-readable template name"
          },
          "status": {
            "type": "string",
            "enum": [
              "awaiting_upload",
              "downloading",
              "processing",
              "uploaded",
              "error"
            ],
            "description": "Current template processing status"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp when the template was created"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "ISO timestamp when the template was last updated"
          }
        },
        "required": [
          "id",
          "type",
          "displayName",
          "status",
          "createdAt",
          "updatedAt"
        ]
      },
      "TemplateComposition": {
        "type": "object",
        "description": "After Effects composition discovered during template processing",
        "properties": {
          "aeid": {
            "type": "string",
            "description": "After Effects composition id"
          },
          "name": {
            "type": "string",
            "description": "Composition name to use as template.composition when creating a render job"
          },
          "width": {
            "type": "number",
            "description": "Composition width in pixels"
          },
          "height": {
            "type": "number",
            "description": "Composition height in pixels"
          },
          "duration": {
            "type": "number",
            "description": "Composition duration in seconds"
          },
          "frame_rate": {
            "type": "number",
            "description": "Composition frame rate"
          },
          "data": {
            "type": "object",
            "description": "Additional parser metadata for the composition",
            "additionalProperties": true
          }
        },
        "required": [
          "aeid",
          "name",
          "width",
          "height",
          "duration",
          "frame_rate",
          "data"
        ]
      },
      "TemplateLayer": {
        "type": "object",
        "description": "After Effects layer discovered during template processing",
        "properties": {
          "composition_id": {
            "type": "integer",
            "description": "After Effects id of the composition that owns this layer. Match it to a composition aeid."
          },
          "aeid": {
            "type": "integer",
            "description": "After Effects layer id"
          },
          "name": {
            "type": "string",
            "description": "Layer name to use as layerName in render job assets and functions"
          },
          "top": {
            "type": "number",
            "description": "Layer bounds top position at time 0"
          },
          "left": {
            "type": "number",
            "description": "Layer bounds left position at time 0"
          },
          "width": {
            "type": "number",
            "description": "Layer bounds width at time 0"
          },
          "height": {
            "type": "number",
            "description": "Layer bounds height at time 0"
          },
          "start_time": {
            "type": "number",
            "description": "Layer start time in seconds"
          },
          "in_point": {
            "type": "number",
            "description": "Layer in point in seconds"
          },
          "out_point": {
            "type": "number",
            "description": "Layer out point in seconds"
          },
          "layer_type": {
            "type": "string",
            "description": "Detected After Effects layer type"
          },
          "source_type": {
            "type": "string",
            "nullable": true,
            "description": "Detected source type for AV layers, when available"
          },
          "source_comp_id": {
            "type": "integer",
            "nullable": true,
            "description": "After Effects id of the source composition for precomp layers, when available"
          },
          "parent_id": {
            "type": "integer",
            "nullable": true,
            "description": "After Effects id of the parent layer, when available"
          },
          "data": {
            "type": "object",
            "description": "Additional parser metadata for the layer",
            "additionalProperties": true
          }
        },
        "required": [
          "composition_id",
          "aeid",
          "name",
          "top",
          "left",
          "width",
          "height",
          "start_time",
          "in_point",
          "out_point",
          "layer_type",
          "source_type",
          "source_comp_id",
          "parent_id",
          "data"
        ]
      }
    }
  },
  "security": [
    {
      "apiToken": []
    }
  ],
  "paths": {
    "/templates": {
      "post": {
        "summary": "Create new template",
        "description": "Create a new template with specified type and display name",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "create-or-update-template",
            "description": "Register a new After Effects project (.aep, .mogrt, .zip). Returns upload info for file transfer."
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TemplateCreation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Template successfully created with upload information",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - missing required fields or invalid template type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Template Management"
        ],
        "operationId": "createOrUpdateTemplate"
      },
      "get": {
        "summary": "List all templates (deprecated)",
        "description": "Deprecated: v2 template listing will be removed in a future release. Use GET /v3/templates for lightweight template metadata and GET /v3/templates/{id}/compositions or GET /v3/templates/{id}/layers for parsed template structure.",
        "deprecated": true,
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "list-templates",
            "description": "Deprecated v2 template listing. Use list-templates-v3 instead."
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved list of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Template"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Template Management"
        ],
        "operationId": "listTemplates"
      }
    },
    "/v3/templates": {
      "servers": [
        {
          "url": "https://api.nexrender.com/api",
          "description": "Production API server"
        }
      ],
      "get": {
        "summary": "List templates (v3)",
        "description": "Retrieve lightweight template metadata for all templates available to the authenticated team. Template compositions and layers are available from the v3 template subresources.",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "list-templates-v3",
            "description": "Retrieve lightweight v3 template metadata without embedded composition or layer arrays."
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved list of templates",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TemplateV3"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Template Management"
        ],
        "operationId": "listTemplatesV3"
      }
    },
    "/templates/{id}": {
      "get": {
        "summary": "Get template details",
        "description": "Retrieve complete information about a specific template including compositions, layers, and processing status",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-template",
            "description": "Fetch full details of a template, including compositions, layers, and processing state."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique template identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved template details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Template not found - the specified template ID does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Template Management"
        ],
        "operationId": "getTemplate"
      },
      "delete": {
        "summary": "Delete template",
        "description": "Permanently remove a template and all associated data (cannot be undone, affects existing jobs)",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "delete-template",
            "description": "Permanently remove a template and its data. Jobs referencing this template will be affected."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique template identifier to delete",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Template successfully deleted"
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Template not found - the specified template ID does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Conflict - template is currently in use by active jobs and cannot be deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Template Management"
        ],
        "operationId": "deleteTemplate"
      },
      "patch": {
        "summary": "Update template",
        "description": "Update modifiable properties of an existing template",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "update-template",
            "description": "Update properties of an existing template, such as its display name."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique template identifier to update",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/TemplateUpdate"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Template"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - malformed update data or invalid display name",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Template not found - the specified template ID does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Template Management"
        ],
        "operationId": "updateTemplate"
      }
    },
    "/v3/templates/{id}": {
      "servers": [
        {
          "url": "https://api.nexrender.com/api",
          "description": "Production API server"
        }
      ],
      "get": {
        "summary": "Get template metadata (v3)",
        "description": "Retrieve lightweight metadata for one template. Use the compositions and layers subresources to inspect template structure.",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-template-v3",
            "description": "Fetch lightweight v3 metadata for one template."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique template identifier in ULID format",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved template metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateV3"
                }
              }
            }
          },
          "400": {
            "description": "Invalid template id",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Template not found - the specified template ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Template Management"
        ],
        "operationId": "getTemplateV3"
      }
    },
    "/v3/templates/{id}/compositions": {
      "servers": [
        {
          "url": "https://api.nexrender.com/api",
          "description": "Production API server"
        }
      ],
      "get": {
        "summary": "List template compositions (v3)",
        "description": "Retrieve paginated After Effects compositions discovered during template processing.",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "list-template-compositions-v3",
            "description": "List discovered compositions for a template with query parameter pagination."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique template identifier in ULID format",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Number of items to return. Defaults to 300. Values above 1000 are capped to 1000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 300
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Number of items to skip before returning results. Defaults to 0.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved template compositions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TemplateComposition"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid template id or pagination parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Template not found - the specified template ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Template Management"
        ],
        "operationId": "listTemplateCompositionsV3"
      }
    },
    "/v3/templates/{id}/layers": {
      "servers": [
        {
          "url": "https://api.nexrender.com/api",
          "description": "Production API server"
        }
      ],
      "get": {
        "summary": "List template layers (v3)",
        "description": "Retrieve paginated After Effects layers discovered during template processing.",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "list-template-layers-v3",
            "description": "List discovered layers for a template with query parameter pagination."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique template identifier in ULID format",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": false,
            "description": "Number of items to return. Defaults to 300. Values above 1000 are capped to 1000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 300
            }
          },
          {
            "in": "query",
            "name": "offset",
            "required": false,
            "description": "Number of items to skip before returning results. Defaults to 0.",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved template layers",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TemplateLayer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid template id or pagination parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Template not found - the specified template ID does not exist or is not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Template Management"
        ],
        "operationId": "listTemplateLayersV3"
      }
    },
    "/templates/{id}/download": {
      "get": {
        "summary": "Get download URL for template file",
        "description": "Generate a presigned download URL for accessing the template file securely",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-template-download-url",
            "description": "Generate a presigned URL to securely download the raw template file from cloud storage."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique template identifier to get download URL for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated download URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "url": {
                      "type": "string",
                      "description": "Presigned download URL with temporary access (expires after set time)"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Template not found - the specified template ID does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "410": {
            "description": "Template file no longer available - file may have been deleted or expired",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Template Management"
        ],
        "operationId": "getTemplateDownloadUrl"
      }
    },
    "/templates/{id}/upload": {
      "put": {
        "summary": "Get fresh upload URL for template file",
        "description": "Generate a new presigned upload URL for uploading or replacing the template file (previous URLs expire)",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-template-upload-url",
            "description": "Generate a fresh presigned upload URL for uploading or replacing the template file."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique template identifier to get upload URL for",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully generated fresh upload URL with credentials",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TemplateUploadInfo"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Template not found - the specified template ID does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Template Management"
        ],
        "operationId": "getTemplateUploadUrl"
      }
    },
    "/jobs": {
      "post": {
        "summary": "Create new job",
        "description": "Submit a new render job with template, assets, and configuration options. Assets can include nested job definitions (type: 'job') that render as child jobs first, with their output automatically injected as video/image assets into the parent composition. Function assets support `params.layerName` as a string, and selected NX layer functions also support `params.layerName` as an array of strings expanded in order. When nested jobs are present, the parent job enters 'pending' state until all children complete.",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "create-job",
            "description": "Submit a new After Effects render job with chosen template, assets (including nested job assets), fonts, and webhooks."
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobCreation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Job successfully created and queued for processing. Returns 'pending' status with children array when nested job assets are present.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - missing required fields or invalid template configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Template not found - the specified template ID does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Render Management"
        ],
        "operationId": "createJob"
      },
      "get": {
        "summary": "List jobs",
        "description": "Retrieve a filtered and paginated list of render jobs with various query options for job management and monitoring",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "list-jobs",
            "description": "Retrieve a paginated list of render jobs. Supports filters for state, tags, creation date ranges, and sort order."
          }
        },
        "parameters": [
          {
            "in": "query",
            "name": "minimal",
            "schema": {
              "type": "string",
              "enum": [
                "true",
                "false"
              ]
            },
            "description": "Return minimal job data (excludes detailed stats and assets for performance)"
          },
          {
            "in": "query",
            "name": "from",
            "schema": {
              "type": "integer",
              "minimum": 0
            },
            "description": "Starting offset for pagination (0-indexed)"
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000
            },
            "description": "Maximum number of jobs to return in a single request"
          },
          {
            "in": "query",
            "name": "from_date",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter jobs created after this date (ISO 8601 format)"
          },
          {
            "in": "query",
            "name": "to_date",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Filter jobs created before this date (ISO 8601 format)"
          },
          {
            "in": "query",
            "name": "states",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of job states to include (e.g., \"queued,processing,finished\")"
          },
          {
            "in": "query",
            "name": "exclude_states",
            "schema": {
              "type": "string"
            },
            "description": "Comma-separated list of job states to exclude from results"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "random",
                "newest_first",
                "oldest_first",
                "priority"
              ],
              "default": "oldest_first"
            },
            "description": "Sort order for job results and pickup priority"
          },
          {
            "in": "query",
            "name": "tags",
            "schema": {
              "type": "string",
              "pattern": "^[a-zA-Z0-9-_]+(,[a-zA-Z0-9-_]+)*$"
            },
            "description": "Filter by comma-separated tags (alphanumeric, hyphens, underscores only)"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of jobs matching the specified criteria",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Job"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters - malformed date filters or invalid pagination values",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token"
          }
        },
        "tags": [
          "Render Management"
        ],
        "operationId": "listJobs"
      }
    },
    "/jobs/cancel": {
      "post": {
        "summary": "Cancel multiple jobs",
        "description": "Cancel multiple jobs by ID. Each explicitly requested job must be in a cancellable state. Related parent, child, or sibling jobs discovered through nesting are cancelled on a best-effort basis and included in the response, including sibling cascades from child cancellation.",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "cancel-jobs",
            "description": "Cancel multiple jobs at once and return all jobs cancelled by the request, including cascaded parent, child, and sibling jobs."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JobCancellationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully cancelled the requested job set and any related jobs that were also cancellable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCancellationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body - malformed or duplicate job identifiers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - team not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "One or more requested jobs were not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "One or more explicitly requested jobs are not in a cancellable state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Render Management"
        ],
        "operationId": "cancelJobs"
      }
    },
    "/jobs/join": {
      "post": {
        "summary": "Create join/stitch job",
        "description": "Create a job that stitches multiple videos together. Assets can be static video URLs or nested job definitions that render first. When assets include nested jobs, child jobs are created and rendered before the parent stitch operation. The parent job enters 'pending' state until all children complete.",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "create-join-job",
            "description": "Create a job that stitches multiple videos together. Supports both static video URLs and nested render jobs."
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/JoinJobCreation"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Join job successfully created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCreationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - missing required fields or invalid asset configuration",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidationErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Template not found - a nested job references a template ID that does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Render Management"
        ],
        "operationId": "createJoinJob"
      }
    },
    "/jobs/{id}": {
      "get": {
        "summary": "Get job details",
        "description": "Retrieve complete information about a specific job including status, progress, assets, and statistics",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-job",
            "description": "Get detailed job information, including current status, progress percentage, render timings, and output URL."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique job identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved job details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found - the specified job ID does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Render Management"
        ],
        "operationId": "getJob"
      }
    },
    "/jobs/{id}/logs": {
      "get": {
        "summary": "Get job render logs",
        "description": "Retrieve the stored render log for a job as plain text. Returns 404 when the job does not exist or no stored log is available.",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-job-logs",
            "description": "Retrieve the plain-text render log for a specific job."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique job identifier",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved the render log.",
            "headers": {
              "Content-Disposition": {
                "description": "Inline filename derived from the job ID.",
                "schema": {
                  "type": "string",
                  "example": "inline; filename=\"01ARZ3NDEKTSV4RRFFQ69G5FAV.log\""
                }
              },
              "X-Content-Type-Options": {
                "description": "Prevents browsers from MIME-sniffing the plain-text response.",
                "schema": {
                  "type": "string",
                  "enum": ["nosniff"]
                }
              }
            },
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "aerender version 26.0x67\nPROGRESS: Launching After Effects...\nPROGRESS:  Render Settings: nx_full\nPROGRESS:  Output Module: nx_video_h264_vbr_15mbps\nPROGRESS:  Format: H.264\nPROGRESS:  0:00:00:00 (1): 0 Seconds\n...\nPROGRESS:  Total Time Elapsed: 14 Seconds"
                }
              }
            }
          },
          "400": {
            "description": "Invalid job identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - Nexrender is not licensed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Job not found or no stored render log is available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error while retrieving the render log.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Render Management"
        ],
        "operationId": "getJobLogs"
      }
    },
    "/jobs/{id}/cancel": {
      "patch": {
        "summary": "Cancel job",
        "description": "Cancel a single job by ID. The requested job must be in a cancellable state. Related parent, child, or sibling jobs discovered through nesting are cancelled on a best-effort basis and included in the response, including sibling cascades from child cancellation.",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "cancel-job",
            "description": "Cancel a single job and return all jobs cancelled by the request, including cascaded parent, child, and sibling jobs."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique job identifier",
            "schema": {
              "type": "string",
              "pattern": "^[0-9A-HJKMNP-TV-Z]{26}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully cancelled the job and any related jobs that were also cancellable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobCancellationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid job identifier.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - team not accessible",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Requested job was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "The requested job is not in a cancellable state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Render Management"
        ],
        "operationId": "cancelJob"
      }
    },
    "/fonts": {
      "post": {
        "summary": "Upload new font",
        "description": "Upload a new font file to make it available for use in rendering jobs",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "upload-font",
            "description": "Upload a new font file (TTF only) to make it available for rendering jobs."
          }
        },
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "familyName": {
                    "type": "string",
                    "default": null,
                    "description": "Optional font family name override (auto-detected if not provided)"
                  },
                  "font": {
                    "type": "string",
                    "format": "binary",
                    "description": "Font file to upload (supports TTF only)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Font successfully uploaded and processed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Font"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request - malformed font file or missing required fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "413": {
            "description": "File too large - font file exceeds 40MiB size limit",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Font Management"
        ],
        "operationId": "uploadFont"
      },
      "get": {
        "summary": "List all fonts for team",
        "description": "Retrieve all fonts available to the authenticated team, including metadata and upload information",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "list-fonts",
            "description": "List all fonts uploaded to your team’s library with metadata such as family name and file info."
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved list of fonts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Font"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token"
          }
        },
        "tags": [
          "Font Management"
        ],
        "operationId": "listFonts"
      }
    },
    "/fonts/{id}": {
      "get": {
        "summary": "Get font metadata",
        "description": "Retrieve detailed information about a specific font including family name, file info, and upload timestamp",
        "x-mint": {
          "mcp": {
            "enabled": true,
            "name": "get-font",
            "description": "Retrieve metadata for a specific font, including its family name, file, and upload timestamp."
          }
        },
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "description": "Unique font identifier",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved font details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Font"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - invalid or missing API token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Font not found - the specified font ID does not exist",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags": [
          "Font Management"
        ],
        "operationId": "getFont"
[...]
